
form{
  min-width: 40vw ;
  display:flex;
  justify-content: center;
  align-items: center;
}
.homeview {
  display: block;
  display: inline-flex;
  margin-bottom: 0px;
}
.space{
  margin-left:2rem ;
}
.the-para {

  display: inline-flex;
  justify-content: center;
  align-items: center;
  
  margin-top: 60px;
  text-align: center;
 
  font-family: "Barlow", sans-serif;
  color: rgb(11, 42, 100);
}

.image {
 
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-height: 30vh;
  margin-bottom: 0px;
  margin-top: 5rem;
 
}
.view{
  max-height: 100vh;
 
}
.thesearch {
  margin-top: 4rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  display: inline-flex;
  justify-content: flex-end;
  color: rgb(48, 201, 212);
  
}
.fa-music {
  color: rgb(48, 201, 212);
  font-size: 30px;
  padding-left:.5rem;
 
}

.container {
  display: inline-block;
  width: 40rem;
  align-content: center;
 
  margin: 0%;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid rgb(2, 42, 68);
  padding: 0px;
  border-radius: 5px;
  position: relative;
  left: 25%;
}

.wrapper {
  display: inline-block;
  align-self: auto;
  margin: 6px;
}
.wrap {
  position: absolute;
  display:flex;
  justify-content: space-around;
  align-items: center;
  top: 0;
}
.form-control-lg {
  width: 32rem;
}

.image2 {
  margin-top: 50px;
  margin-left: 560px;
  padding: 0px;
}
.lyrics {
  margin-left: 100px;
  margin-right: 100px;
}
.bounce {
  display: inline-block;
  position: relative;
  -moz-animation: bounce 0.5s infinite linear;
  -o-animation: bounce 0.5s infinite linear;
  -webkit-animation: bounce 0.5s infinite linear;
  animation: bounce 0.5s infinite linear;
  color: 000;
}

@-webkit-keyframes bounce {
  0% {
    top: 0;
  }
  50% {
    top: -0.2em;
  }
  70% {
    top: -0.3em;
  }
  100% {
    top: 0;
  }
}
@-moz-keyframes bounce {
  0% {
    top: 0;
  }
  50% {
    top: -0.2em;
  }
  70% {
    top: -0.3em;
  }
  100% {
    top: 0;
  }
}
@-o-keyframes bounce {
  0% {
    top: 0;
  }
  50% {
    top: -0.2em;
  }
  70% {
    top: -0.3em;
  }
  100% {
    top: 0;
  }
}
@-ms-keyframes bounce {
  0% {
    top: 0;
  }
  50% {
    top: -0.2em;
  }
  70% {
    top: -0.3em;
  }
  100% {
    top: 0;
  }
}
@keyframes bounce {
  0% {
    top: 0;
  }
  50% {
    top: -0.2em;
  }
  70% {
    top: -0.3em;
  }
  100% {
    top: 0;
  }
}
